.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 20px solid white;
}


li {
    display: inline;
    list-style-type: none;
    border-right: 1px solid #777777;
    color: #777777;
    text-align: center;
    padding: 20px;
}

li:last-child {
    border-right: none;
}

.header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
    text-align: center;
    color: white;
    padding: 15px;
    border-bottom: 1px solid #777777;
}

.teal {
    color: #4aaaa5;
}

ul {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: small;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;

}

.container {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 20px;
}

body {
    max-width: 960px;
    margin: auto;
}

.background {
    background-image: url('../images/spikes.png');
    padding: auto;
}

.footer {
    background-color: #666666;
    margin: auto;
    text-align: center;
    color: white;
    width: 100%;
    border-top: 5px solid #4aaaa5;
    bottom: 0px;
    font-size: 25%;
    padding-top: 15px;
}

.main {
    display: inline;
    flex-wrap: wrap;
}

#pic {
    margin-right: 0px;
}

.box { 
    padding: 50 50px; 
    border: 1px solid #777777; 
    box-sizing: border-box; 
    margin-top: 2px; 
    margin-bottom: 16px;
    width: 100%;

}

#message {
    padding: 0px 80px 50px 0px; 
    border: 1px solid #777777; 
    box-sizing: border-box; 
    margin-top: 2px; 
    margin-bottom: 16px;
    width: 100%;
}